.intro {
    margin: 5% 0 10% 0;
}

a {
    text-decoration: underline; 
    color: #1D1D1F;
    transition: all .3s ease-in-out;
}

a:hover {
    background-color: #1D1D1F;
    color: #fafafa;
    border-radius: 2px;
}

.terug {
    margin-top: 50px;
    font-weight: 700;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    h1, h2, p, a {
        background-color: #000000;
        color: #f2f2f2;
    }
  }